# Enable Rewrite Engine
RewriteEngine On

# Redirect .html extensions to clean URLs
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1? [NC,L,R=301]

# Rewrite clean URLs to HTML files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirect index.html to root
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^ /? [NC,L,R=301]

